<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968695725622-scr95oo3710fj2g4skcia0jrpfcbg3f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968695725622-scr95oo3710fj2g4skcia0jrpfcbg3f4</string>
	<key>API_KEY</key>
	<string>AIzaSyB1QOSqG357_6htnbRgPlU2Q-W96XfQZTM</string>
	<key>GCM_SENDER_ID</key>
	<string>968695725622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donghaeng.donghaeng</string>
	<key>PROJECT_ID</key>
	<string>project-donghaeng</string>
	<key>STORAGE_BUCKET</key>
	<string>project-donghaeng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968695725622:ios:1c17b41fae4b415645a297</string>
</dict>
</plist>