img {
    object-fit: cover;
}

html,
body {
    height: 100%;
    width: 100%;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}